<div class="thumbnail"><img src="<%= this.clip.thumbnail_grande %>" alt="<%= this.clip.titulo %>" /></div>
<div class="duracion"><%= this.clip.duracion %></div>
<div class="tiempo"><%= this.clip.fecha %></div>
<div class="lugar"><%= this.clip.ciudad %>, <%= this.clip.pais.nombre %></div>
<div class="titulo"><%= this.clip.titulo %></div>
<div class="descripcion"><%= this.clip.descripcion %></div>
<div class="corresponsal"><%= this.clip.corresponsal %></div>

